extends layout

block content
  h1=title

  form(method='POST' action='')
 
    div.form-group
      label(for='sportfeest') Sportfeest:
      select#sportfeest.form-control(type='select' placeholder='Selecteer een sportfeest' name='sportfeest' required='true' onchange='updateDisciplines()')
        option(disabled selected style='display:none') Selecteer een sportfeest
        for sportfeest in sportfeesten
          if deelname
            option(value=sportfeest._id selected=((sportfeest._id.toString()==deelname.wedstrijd.sportfeest._id||sportfeest._id.toString()==deelname.wedstrijd.sportfeest) ? 'selected' : false)) #{sportfeest.locatie.naam} #{sportfeest.datum_geformatteerd} 
          else
            option(value=sportfeest._id) #{sportfeest.locatie.naam} #{sportfeest.datum_geformatteerd} 
    
    div.form-group
      label(for='wedstrijd' id='wedstrijdlabel') Discipline:
      select#wedstrijd.form-control(type='select' placeholder='Selecteer wedstrijd' name='wedstrijd' required='true' disabled)
        option(disabled selected style='display:none') Selecteer een sportfeest om de aanwezige disciplines weer te geven
   
    div.form-group
      label(for='speler') Speler:
      select#speler.form-control(type='select' placeholder='Select speler' name='speler' required='true')
        option(disabled selected style='display:none') Selecteer een speler
        for speler in spelers
          if deelname
            option(value=speler._id selected=((speler._id.toString()==deelname.speler._id||speler._id.toString()==deelname.speler) ? 'selected' : false)) #{speler.voornaam} #{speler.achternaam} (#{speler.thuislocatie.naam})
          else
            option(value=speler._id) #{speler.voornaam} #{speler.achternaam} (#{speler.thuislocatie.naam})
        
    div.form-group
      label(for='score') Score:
      input#score.form-control(type='number' placeholder='Score' name='score' required='true' value=(undefined===deelname ? '' : deelname.score) )


    button.btn.btn-primary(type='submit' id='submitbutton' disabled) Submit

  if errors 
    ul
      for error in errors
        li!= error.msg
  script(src="/javascripts/deelnameform.js")