extends layout

block content

  h1 Deelname: 
  p Wedstrijd: 
     a(href=deelname.wedstrijd.url) klik hier
  p Speler: #{deelname.speler.voornaam} #{deelname.speler.achternaam}
  p Locatie: #{deelname.wedstrijd.sportfeest.locatie.naam}
  p Datum: #{deelname.wedstrijd.sportfeest.datum_geformatteerd}
  p Discipline: #{deelname.wedstrijd.discipline.naam}
  p Score: #{deelname.score}
  if(authenticated)
      hr
      p
        a(href=deelname.url+'/delete') Verwijder deelname
      p
        a(href=deelname.url+'/update') Wijzig deelname