extends layout

block content

     h1 Discipline: #{discipline.naam} 

     h4 Beschrijving: 
     h5 #{discipline.beschrijving}

     if(discipline.afbeelding)
         a(href=discipline.afbeelding.url +'/show')
            img.resize(src="/menu/afbeelding/"+discipline.afbeelding._id title="Klik om de afbeelding op ware grootte te bekijken")
     if(authenticated)
         hr
         p
            a(href=discipline.url+'/delete') Verwijder discipline
         p
            a(href=discipline.url+'/update') Wijzig discipline