extends layout

block content

  h1 Locatie: #{locatie.naam} 
 
     h4 Provincie: #{locatie.provincie}
     h4 Postcode: #{locatie.postcode}

     h4 Beschrijving: 
     h5 #{locatie.beschrijving}

     if(locatie.afbeelding)
         h4 Afbeelding:
         a(href=locatie.afbeelding.url +'/show')
            img(src="/menu/afbeelding/"+locatie.afbeelding._id width="500px" title="Klik om de afbeelding op ware grootte te bekijken")

  hr
  p
    a(href=locatie.url+'/delete') Verwijder deze locatie
  p
     a(href=locatie.url+'/update') Wijzig deze locatie