extends layout

block content
  h1= title
  
  table.btn-group()
    tr
        th(style='padding:5px;') Naam
        th(style='padding:5px;') Provincie
    each locatie in locatie_list
        tr
            td(style='padding:5px;')
                a(href=locatie.url) #{locatie.naam}
            td(style='padding:5px;')
                a(href=locatie.provincie_url) #{locatie.provincie}
     

    else
      li Er zijn geen locaties.