extends layout

block content
  h1 Locatie: #{locatie.naam} 
     h4 Provincie: #{locatie.provincie}
     h4 Postcode: #{locatie.postcode}
     h5 #{locatie.beschrijving}

  #floating-panel
  input#address.verberg(value=locatie.naam)
  #map
  script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=KEY&callback=initMap')
  script(src="/javascripts/maps.js")

  if(authenticated)
        hr
        p
            a(href=locatie.url+'/delete') Verwijder deze locatie
        p
            a(href=locatie.url+'/update') Wijzig deze locatie