extends layout

block content
  h1= title
  
  table.table.table-striped
    tr
        th Naam
        th Provincie
    each locatie in locatie_list
        tr
            td
                a(href=locatie.url) #{locatie.naam}
            td             
                a(href=locatie.provincie_url) #{locatie.provincie}
     

    else
      li Er zijn geen locaties.