extends layout
  

block content
  h1= title
  
  table#myTable
    tr
      th(onclick='sortTable(0)') Gemeente
        span  &#x25B2
      th(onclick='sortTable(1)') Provincie
        span
    each locatie in locatie_list
        tr
            td
                a(href=locatie.url) #{locatie.naam}
            td             
                a(href=locatie.provincie_url) #{locatie.provincie}
     

    else
      li Er zijn geen locaties.
  script(src="/javascripts/tablesort.js")