extends layout

block content
  h1 Locatie: #{locatie.naam} 
     h4 Provincie: #{locatie.provincie}
     h4 Postcode: #{locatie.postcode}
     h5 #{locatie.beschrijving}

  #floating-panel
  input#address.verberg(value=locatie.naam)
  if(locatie.afbeelding)
    a(href=locatie.afbeelding.url +'/show')
        img.locatie(src="/menu/afbeelding/"+locatie.afbeelding._id title="Klik om de afbeelding op ware grootte te bekijken")   
  #map(width="50%")
  script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC67cuycW4xwZu5W1TND7Gg0m2eZGjhbm8&callback=initMap')
  script(src="/javascripts/maps.js")

  if(authenticated)
        hr
        p
            a(href=locatie.url+'/delete') Verwijder deze locatie
        p
            a(href=locatie.url+'/update') Wijzig deze locatie
