extends layout

block content

  h1 Speler: #{speler.voornaam} #{speler.achternaam}
  p Thuislocatie: #{speler.thuislocatie.naam}
  p Geboortedatum: #{speler.geboortedatum_geformatteerd}
  p Leeftijd: #{speler.leeftijd}
  

  div(style='margin-left:20px;margin-top:20px')

    p Deelnames:
    
    table#myTable
        tr
          th(onclick='sortTable(0)') Locatie
            span
          th(onclick='sortTable(1)') Datum
            span  &#x25BC
          th(onclick='sortTable(2)') Discipline
            span
          th(onclick='sortTableNumerically(3)') Score
            span
        each deelname in speler_deelnames
            tr
                td
                    a(href=deelname.wedstrijd.sportfeest.url) #{deelname.wedstrijd.sportfeest.locatie.naam}
                td
                    a(href=deelname.wedstrijd.sportfeest.url) #{deelname.wedstrijd.sportfeest.datum_geformatteerd}
                td
                    a(href=deelname.wedstrijd.url) #{deelname.wedstrijd.discipline.naam}
                td
                    a(href=deelname.url) #{deelname.score}


        else
          p Deze speler heeft momenteel geen deelnames in de database.

    if(authenticated)
        hr
        p
            a(href=speler.url+'/delete') Verwijder deze speler
        p
            a(href=speler.url+'/update') Wijzig deze speler
  script(src="/javascripts/tablesort.js")
  script(src="/javascripts/tablesortnumerically.js")
  script.
    sortTable(1)
    sortTable(1)