extends layout

block content

  h1 Sportfeest:  #{sportfeest.locatie.naam}  (#{sportfeest.datum_geformatteerd})
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Wedstrijden
    
    dl
    each wedstrijd in wedstrijden
      dt 
        a(href= '/menu/wedstrijd/' + wedstrijd.wedstrijdid) #{wedstrijd._id}
      dd Aantal deelnames: #{wedstrijd.count}


    else
      p Dit sportfeest bevat geen wedstrijden.
    hr
    p
        a(href=sportfeest.url+'/delete') Verwijder dit sportfeest
    p
        a(href=sportfeest.url+'/update') Wijzig dit sportfeest