extends layout

block content

  h1 Wedstrijd: #{wedstrijd.sportfeest.locatie.naam} #{wedstrijd.sportfeest.datum_geformatteerd} #{wedstrijd.discipline.naam}
  
  div(style='margin-left:20px;margin-top:20px')
    
    table#myTable
        tr
            th(onclick='sortTable(0)') Speler
                span 
            th(onclick='sortTableNumerically(1)') Score
                span  &#x25BC
        each deelname in wedstrijd_deelnames
            tr
                td 
                    a(href=deelname.speler.url) #{deelname.speler.voornaam} #{deelname.speler.achternaam}  
                td
                    a(href=deelname.url) #{deelname.score}
    
        else
          p Deze wedstrijd heeft geen deelnames.

    if(authenticated)
        hr
        p
         a(href=wedstrijd.url+'/delete') Verwijder deze wedstrijd
        p
         a(href=wedstrijd.url+'/update') Pas deze wedstrijd aan
    script(src="/javascripts/tablesortnumerically.js")
    script(src="/javascripts/tablesort.js")
    script(src="/javascripts/wedstrijdmedailles.js")
    