extends layout

block content

  h1 Wedstrijd: #{wedstrijd.sportfeest.locatie.naam} #{wedstrijd.sportfeest.datum_geformatteerd} #{wedstrijd.discipline.naam}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Deelnames
    
    dl
    each deelname in wedstrijd_deelnames
      dt 
        a(href=deelname.url) #{deelname.speler.voornaam} #{deelname.speler.achternaam} - Score = #{deelname.score}

    else
      p Deze wedstrijd heeft geen deelnames.

    if(authenticated)
        hr
        p
         a(href=wedstrijd.url+'/delete') Verwijder deze wedstrijd
        p
         a(href=wedstrijd.url+'/update') Pas deze wedstrijd aan